html * {
    font-family: 'Roboto', sans-serif;;
}

.header {
    width: 100%; 
    height: 100px;
    display: block;
    text-align: center;
    background-color: #72BCBA;
    position: absolute;
    
}

.nav ul li a {
    display: inline-block;
    list-style-type: none;
    padding: 15px 1.5% 15px 1.5%;
    text-decoration: none;
    color: lightcoral;
    font-size: 1.2em;
}

nav {
    text-align: center;
}

.btn:hover {
    background-color: #72BCBA;
}

.container {
    padding: 5px;
}